<ion-view hide-nav-bar="true">

          <ion-content class="padding content"  scroll="false">
          	<div id="wrap">
         		
          	<img src="img/snake.svg" alt="Snake  on oval" width="100">
          	<h1 class="title">NAKE</h1>
          	<div class="animation-wrapper">
				  <div class="particle particle-1"></div>
				  <div class="particle particle-2"></div>
				  <div class="particle particle-3"></div>
				  <div class="particle particle-4"></div>
			</div>           
 				<!--
				<ion-col width-50 >
					<button class="button " ion-button ui-sref="noMenu.game" >1</button>
				</ion-col>
				-->
				<div class="logo"><a ui-sref="noMenu.game">PLAY</a></div>


          	</div>
           
            <!-- symbols -->


          </ion-content>
</ion-view>
